<form class="card" [formGroup]="forms" (ngSubmit)="submit()">
  <h2>Войти в панель администратора</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">{{error}}</div>
  <div class="alert alert-info" *ngIf="message">{{message}}</div>
  <div
    [ngClass]="{invalid: forms.get('email').touched && forms.get('email').invalid}"
    class="form-control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="forms.get('email').touched && forms.get('email').invalid"
      class="validation">
      <small *ngIf="forms.get('email').errors.required">Введите email</small>
      <small *ngIf="forms.get('email').errors.email">Введите корректный email</small>
    </div>
  </div>
    <div
      [ngClass]="{invalid: forms.get('password').touched && forms.get('password').invalid}"
      class="form-control">
      <label for="password">Пароль</label>
      <input id="password" type="password" formControlName="password">
      <div
        *ngIf="forms.get('password').touched && forms.get('password').invalid"
        class="validation">
        <small *ngIf="forms.get('password').errors.required">Введите пароль</small>
        <small *ngIf="forms.get('password').errors.minlength">
          Пароль должен быть не менее {{forms.get('password').errors.minlength.requiredLength}} символов.
          Сейчас он {{forms.get('password').errors.minlength.actualLength}} символа
        </small>
      </div>
   </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="forms.invalid || submitted"
    >Войти</button>
</form>

